html{
    scroll-behavior: smooth;
}

.btn-primary:hover{
    background-color: rgb(0, 96, 206)
}

.btn-success:hover{
    background-color: rgb(32, 179, 41)
}

.btn-warning:hover{
    background-color: rgb(255, 231, 46)
}

#down-button{
    background-color: rgb(192, 192, 192);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

#down-button:hover{
    background-color: rgb(124, 124, 124);
    box-shadow: 7px 7px 5px rgb(56, 56, 56)
}

.flex-center-outline{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 50px;
}

#button-down-header{
    width: 30px;
}

.grid-container{
    display: grid;
    padding-top: 70px;
    gap: 10px;
    grid-template: repeat(15, 100px) / repeat(10, 1fr);
    background-image: url(./assets/images/city-night.jpg);
    width: 100%;
}

.grid-item{
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    transition: all 0.75s ease;
}

header{
    background-color: rgb(109, 109, 109);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px 10px 0px 0px;
}

#header > header > h2{
    font-size: 24px;
}

#header{
    grid-area: 1 / 4 / 2 / 8;
    background-color: rgb(217, 217, 217);
    transition: all 0.75s ease;
}

#header:hover{
    background-color: rgb(98, 213, 255);
}



#nta{
    grid-area: 3 / 2 / 7 / 5;
    transition: all 0.75s ease;
}

#nta:hover{
    background-color: #ffa047;
}

#spirit{
    grid-area: 5 / 7 / 9 / 10;
    transition: all 0.75s ease;
}

#spirit:hover{
    background-color: #32bf35;
}

#events{
    grid-area: 10 / 3 / 14 / 6;
    transition: all 0.75s ease;
}

#events:hover{
    background-color: #dddf36
}

text > *{
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

text{
    display: flex;
    justify-content: center;
}

.info-box{
    background-color: rgb(161, 161, 161);
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    transition: all 0.75s ease;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: yellow;
}

.info-box::-webkit-scrollbar{
    width: 8px;
}

.info-box::-webkit-scrollbar-track{
    background: transparent;
}

.info-box::-webkit-scrollbar-thumb{
    background-color: grey;
    border: 2px solid grey;
    border-radius: 3px;
}

.grid-item:hover .info-box{
    background-color: rgb(222, 222, 222);
    border-color: rgb(222, 222, 222)
}









.content-box{
    background-color: rgb(161, 161, 161);
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    transition: all 0.75s ease;
    width: 100%;
    height: 225px;
    overflow-y: scroll;
    scrollbar-color: yellow;
}

.content-box::-webkit-scrollbar{
    width: 8px;
}

.content-box::-webkit-scrollbar-track{
    background: transparent;
}

.content-box::-webkit-scrollbar-thumb{
    background-color: grey;
    border: 2px solid grey;
    border-radius: 3px;
}

.grid-item:hover .content-box{
    background-color: rgb(222, 222, 222);
    border-color: rgb(222, 222, 222)
}